.circle {
    width: 0.5em;
    height: 0.5em;
    border: 1px solid black;
    border-radius:50%;
    padding: 25px;
}

.main {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.green {
    background-color: rgb(0, 182, 0);
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}
.red {
    background-color: #c0392b;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.violet{
    background-color: violet;
}
.aqua{
    background-color: aqua;
}

